

.flex-parent {
    display: flex;
}
.flex-child {
    flex: 1;

}


h1 {
 margin-top: 10px;
    margin-bottom: 4px;
    font-size: 2rem;
    font-size: 150%;


}

h5 {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 1rem;
    font-size: 80%;
}

@media screen and (max-width: 360px) {
    .flex-parent {
        display: inline;

    }
}