
.Container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.SlideShow {
    display: none;
}
.fade {
    animation-name: none;
    animation-duration: 2.5s;
}
#content h1{
    margin-bottom: 5px;
}

#content p{
    width: 70%;
    position: relative;
    margin: auto;
    padding-bottom: 1rem;
    text-align: left;
    font-family: raleway;


}

