
header{
    position:sticky;
    top:0;
    flex:100%;
    width:100%;
    height:125px;
    flex-flow: column wrap;
    display:flex;
    background-image: linear-gradient(to top, rgba(31, 40, 51,0.1),#1f2833,#1f2833);
}


#logo>a>img:hover{
    cursor:pointer;
}
#mobile-navbar>img:hover{
    cursor:pointer;
}
#logo{
    padding-left:5px;
    flex:50%;
}
#navbar{
    flex:50%;
    margin:auto;
    position:relative;
    bottom:10%;
}
.options{
    list-style: none;
    color:#66fcf1;
    text-shadow: 2px 2px 10px #0b0c10;

}
.options>li{
    position:relative;
    top:15px;
    font-size: 30px;

}
.options>li>a:hover{
    color:#45a29e;
    text-shadow: 2px 2px 50px #0b0c10;
}
#navbar>.options{
    position:relative;
    top:22%;
}
#navbar>.options>li{
    display:inline-block;
    padding-left:20px;
}
#logo>a>img{
    height:150px;
    width:275px;
}
#mobile-navbar{
    display:none;
}
#mobile-navbar>.options{
    display:none;
    position:absolute;
    top:70px;
    left:-20px;
    flex-flow:row wrap;
    padding:0px;
    height:50px;
}
#mobile-navbar>.options>li{
    flex:100%;
    height:50px;
    background-color: #1f2833;
    BORDER: 1px solid #0b0c10;
    padding: 0 5px;


}
#mobile-navbar>.options>li:nth-child(1){
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}
#mobile-navbar>.options>li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#mobile-navbar>.options>li>a{
    height:30px;
    font-size: 20px;
    text-shadow: 2px 2px #0b0c10;
    text-align: center;
}
html,body{
    margin:0;
    background-image: linear-gradient(to top, rgba(1, 4, 19, 0.562),#1f2833),
    url('imgs/ardennes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    width:100%;
    height:100%;
    font-family: 'Alegreya Sans SC';font-size: 22px;
    overflow:hidden;
}
a{
    text-decoration: none;
    color:inherit;
}

