    h2{
    text-align:center;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
        font-size: 100%;
}

#myData {
    color: white;
    position: absolute;
    right: 15%;
    background-color: #1f2833;
    width: 36%;
    padding: 10px 50px 25px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    float:left;
    margin-top:2.5%;
}




table {


}
th,
td {
    width: 150px;
    text-align: center;
    padding: 0.3%;
    font-size: 90%;



}

tr{

    font-size: 90%;
    width: 10%;

}

h3{
    text-align:center;
    color: #FF0000;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;

}
hr{
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 40px;
}
div.container{
    width: 50%;
    height: 50%;
    margin:1% auto;
    font-family: 'Raleway', sans-serif;
}
div.main{

    background-color: #1f2833;
    width: 40%;
    padding: 1% 2% 1%;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    float:left;
    margin-top:5%;
}
input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}
label{
    color: #ffffff;

}
center{
    font-size:32px;
}
.note{
    color:red;
}
.valid{
    color:green;
}
.back{
    text-decoration: none;
    border: 1px solid rgb(0, 143, 255);
    background-color: rgb(0, 214, 255);
    padding: 3px 20px;
    border-radius: 2px;
    color: black;
}
input[type=button]{

    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 50%;
    line-height: 1;
    margin: 10%;
    padding: 6% 30%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 80%;



}
input[type=button]:hover{
    background: linear-gradient(#1f2833 5%, #4f4f4f 100%);
}



    @media screen and (max-width: 360px) {

        #main{
            display: none;
        }

        #main{
            display: none;
        }
        #form_id{

            height: 30%;
        }
        #myData {
             display: none;
        }




    }


