
h2{
    text-align:center;
    color: #ffffff;
    font-family: 'Raleway', raleway;
}

h3{
    text-align:center;
    color: #FF0000;
    font-family: 'Raleway', raleway;

}
div.container{
    width: 50%;
    height: 50%;
    margin:35px auto;
    font-family: 'Raleway', raleway;
}


div.main{
    background-color: #1f2833;
    width: 400px;
    padding: 10px 50px 25px;
    border: 3px solid gray;
    border-radius: 50px;
    font-family: raleway;
    float:left;
    margin-top:50px;
    margin-left: 30%;
}



input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
}
label{
    color: #ffffff;
}
input[type=button]{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1em;
    color: white;
    align-self: center;
    font-size: 1rem;
    margin-left: 20%;
    margin-top: 20px;
    padding: 1.2em 2.8em;
    font-family: 'sans-serif', sans-serif;

}

